<Files ~ ".(xml|css|js|jpe?g|png|gif|pdf|docx|rtf|odf|zip|rar)$">
RewriteEngine on

RewriteCond %{REQUEST_URI} !^/wp-content/uploads/2021/12/cropped-favicon.png$
RewriteCond %{REQUEST_URI} !^/wp-content/uploads/2021/12/cropped-favicon-150x150.png$
RewriteCond %{REQUEST_URI} !^/wp-content/uploads/2021/12/cropped-favicon-32x32.png$
RewriteCond %{REQUEST_URI} !^/wp-content/uploads/2021/12/cropped-favicon-192x192.png$
RewriteCond %{REQUEST_URI} !^/wp-content/uploads/2021/12/cropped-favicon-180x180.png$
RewriteCond %{REQUEST_URI} !^/wp-content/uploads/2021/12/cropped-favicon-270x270.png$
RewriteCond %{REQUEST_URI} !^/wp-content/uploads/2021/12/cropped-favicon-300x300.png$
# RewriteCond %{REMOTE_ADDR}  !175.210.226.167

RewriteRule (.*) https://%{HTTP_HOST}/404 [L]
</Files>