:root {
  --container-px: 16px;
  @media (min-width: theme('screens.md')) {
    --container-px: 20px;
  }
  @media (min-width: theme('screens.lg')) {
    --container-px: 2rem;
  }
}

body {
  @apply font-sans;

  #app {
    min-height: 100vh;
    @apply grid grid-rows-[1fr,auto];
  }
}

.brand {
  @apply text-3xl font-medium text-indigo-500;
}
