
.icon-left-open-big:before { content: '\e800'; } /* '' */
.icon-right-open-big:before { content: '\e801'; } /* '' */
.icon-print:before { content: '\e804'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
